---
import { AboutSection } from "../components/aboutmesection/AboutMeSection";
import { ContactSection } from "../components/contactsection/ContanctSection";
import { ExperienceSection } from "../components/experienceSection/ExperienceSection";
import { TechSection } from "../components/techsection/TechSection";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio - Martin Morales">
	<main class="overflow-hidden">
		<AboutSection client:visible />
		<TechSection client:visible />
		<ExperienceSection client:visible />
		<ContactSection client:visible />
	</main>
</Layout>

<style></style>
