---
import { Initializer } from "../components/Initializer";
import Footer from "./footer/Footer.astro";
import Header from "./navBar/Header.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth font-roboto">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Portfolio of Martín Morales, web developer"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="load" class="bg-gradient-to-tr from-rich_black-100  to-vanilla-700 via-rich_black-500 flex items-center justify-center h-screen w-screen">
			
		</div>
		<div id="content" class="bg-vanilla dark:bg-rich_black hidden">
			<Header />
			<slot />
			<Footer />
		</div>
		<Initializer client:load />
	</body>

	<style></style>
</html>
