---
import { WhatsappIcon, LinkedinIcon, MailIcon } from "../../components/Icons";
---

<footer
	class="w-full h-16 bg-rich_black-200 text-rufous flex justify-evenly items-center md:h-28"
>
	<div class="w-2/4 ml-2 md:text-2xl text-center">
		Made by <a
			class="text-rufous-600 hover:text-rufous-700"
			target="_blank"
			href="https://www.linkedin.com/in/martin-morales-2b8303274/"
			>@MartinMorales</a
		>
	</div>
	<div class="w-2/4">
		<ul class="w-full flex items-center justify-evenly">
			<li
				class="size-8 text-rufous-600 hover:text-rufous-700 hover:scale-125 md:scale-125 md:hover:scale-150"
			>
				<a
					href="https://wa.me/+543764691408"
					aria-label="Whatsapp link"
					target="_blank"><WhatsappIcon /></a
				>
			</li>
			<li
				class="size-8 text-rufous-600 hover:text-rufous-700 hover:scale-125 md:scale-125 md:hover:scale-150"
			>
				<a
					href="https://www.linkedin.com/in/martin-morales-2b8303274/"
					aria-label="Linkedin Link"
					target="_blank"><LinkedinIcon /></a
				>
			</li>
			<li
				class="size-8 text-rufous-600 hover:text-rufous-700 hover:scale-125 md:scale-125 md:hover:scale-150"
			>
				<a
					href="mailto:martin.exequiel-morales@gmail.com?Subject=contact%web%developer"
					aria-label="Mail Link"
					target="_blank"><MailIcon /></a
				>
			</li>
		</ul>
	</div>
</footer>
